/* Board.module.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #abc2e8;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#root {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.scoreplayer1 {
  margin-left: auto;
}

.scoreplayer2 {
  margin-right: auto;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.cell {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.chip {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid black;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
  cursor: default;
}

.red {
  background-color: rgb(253, 102, 135);
}

.yellow {
  background-color: rgb(255, 206, 103);
}

.default {
  background-color: rgb(253, 253, 255);
}

.chip:hover {
  border: 3px solid black;
}

.chip.hover-red:hover {
  border: 3px solid rgb(253, 102, 135);
  cursor: pointer;
}

.chip.hover-yellow:hover {
  border: 3px solid rgb(255, 206, 103);
  cursor: pointer;
}

.chip.hover-default:hover {
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  width: 100%;
  max-width: 600px;
  justify-content: space-between;
  height: 50px;
  margin: 16px 0;
  align-items: center;
}

.header-title {
  color: black;
  font-size: 24px;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: white;
  border: 3px solid black;
  border-radius: 24px;
  padding: 10px;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.winner-board {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 140px;
  border: 3px solid black;
  border-radius: 24px;
  justify-content: center;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: white;
}

.win-message {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  color: green;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.playerScore {
  border: 2px solid #333;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  color: white;
}

.playerScore h3 {
  margin: 0;
}

.playerScore p {
  font-size: 1.2rem;
}

/* Championship Styles */
.championship-container {
  text-align: center;
  margin: 20px;
}

.groups-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.group {
  margin: 20px;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.group h2 {
  color: #007bff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  font-size: 1.1em;
}

/* Responsive Design */
@media (max-width: 600px) {
  .groups-grid {
    grid-template-columns: 1fr;
  }
}

/* Outer wrapper to center the content */
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00c6d7;
}

/* Container for the main content */
.home-container {
  width: 50%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.home-title {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1em;
}

.home-paragraph {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 0 30px;
}

.restart-button {
  background-color: #007bff;
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.restart-button:hover {
  background-color: #0056b3;
}

.home-subtitle {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input-group {
  display: flex;
  gap: 20px;
}

input.home-input {
  padding: 10px;
  width: 200px;
  border: 2px solid #007bff;
  border-radius: 5px;
  font-size: 1em;
}

.home-button {
  background-color: #007bff;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.home-button:hover {
  background-color: #0056b3;
}

.footer {
  margin-top: 20px;
  font-size: 0.9em;
}
